*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'poppins' sans-serif;
}

h1, h2 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 2px solid #000;
    border-radius: 100px;      /*------=====================-----*/
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
}

.logo img {
    width: 100px; 
    height: 100px; 
    display: block; 
  }

button {
    border: none;
    background: none;
    outline: none;
    transition: none;
    cursor: pointer;
}

.primary-btn {
    padding: 15px 40px;
    background: #7fc142;
}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px white;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 85%;
    margin: auto;
}

/*--header--*/

header img {
    margin: 20px;
}

/*  header {
    /*height: l0vh;
    line-height: 10vh;         ========================
}  */

header ul li {
    display: inline-block;
}

header ul li a {
    color: black;
    margin: 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: rgb(54, 199, 54);
}

header i {
    margin: 20px;
}

header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

.Regina {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .Regina img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  
  .home {
    background-color: #fff; 
  }
  
  .content {
    position: relative;
    width: 100%;
  }
  
  .owl-carousel {
    display: flex;
    justify-content: center;
  }
  
  .item {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .item img {
    width: 100%; 
  }

  .fieldsett {
    border: 5px;
    border-radius: 5px;
  }

.navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menulist {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menulist li {
    margin: 0 30px; 
    justify-content: space-around;
}



/*----- login form css ---------*/





.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(IMG_1095.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid black (255, 255 .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px darkslategray (0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid darkslategray;
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: whitesmoke;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15 0 15px;
}

.remember-forgot label input {
    accent-color: whitesmoke;
    margin-right: 3px;
}

.remember-forgot a {
    color: whitesmoke;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px darkslategray (0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: darkslategray;
    font-weight: 600;
} 

.wrapper .register-link {
    font-size: 14.5;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}